# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

Library/metadata/00/00000000000000006100000000000000

Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll

Library/ScriptAssemblies/Assembly-CSharp-firstpass.dll.mdb

Library/ScriptAssemblies/Assembly-UnityScript-firstpass.dll

Library/ScriptAssemblies/Assembly-UnityScript-firstpass.dll.mdb

Library/CurrentLayout.dwlt

Library/expandedItems


Assets/Kassa1.unity.orig.meta
leberkäse.prefab
leberkäse.prefab.meta

*.sublime-project
